<head>
	{% include meta.html %}
	<title>{{site.title}}</title>
	<link
		rel="stylesheet"
		href="{% if site.baseurl %}{{site.baseurl}}{% else %}{% endif %}/assets/css/style.css"
	/>
	<script
		src="https://kit.fontawesome.com/6a97161b76.js"
		crossorigin="anonymous"
	></script>
	<!-- <script src="https://kit.fontawesome.com/8e9dca89dc.js" crossorigin="anonymous"></script> -->
	<script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>
	<script src="https://cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://code.highcharts.com/highcharts.js"></script>
	<script src="https://code.highcharts.com/highcharts-more.js"></script>
	<script>
		$(function () {
			var $canvas = null,
				$this = null,
				_ctx = null,
				_text = "";
			$(".language-chart").each(function () {
				$this = $(this);
				_text = $this.text();
				var data = JSON.parse(_text);
				$canvas = $(
					`<div id=${data["id"]} class="chart-${data["type"]}"></div>`
				);
				$this.text("").append($canvas);
				var chart = Highcharts.chart(data["id"], data);
				chart.animation = true;
				$this.parent().addClass(data["class"]);
			});
		});
	</script>
	<link
		rel="shortcut icon"
		href="{% if site.favicon-url %}{{site.favicon-url}}{% else %}{{ 'https://derican-picgo.oss-cn-hangzhou.aliyuncs.com/img/logo.png' | absolute_url }}{% endif %}"
		type="image/x-icon"
	/>
	<style>
		:root {
			--theme-color: {{site.theme_color}};
			--theme-color-light: {{site.theme_color_light}};
		}
		.navbar {
    		background-image: url({{site.navbar_background_image}});
  		}
	</style>
	<script>
		window.addEventListener("scroll", function (event) {
			var navbar = document.getElementById('navbar-background');
			var scrolled = this.scrollY > navbar.clientHeight;

			if (scrolled) {
			navbar.classList.add('navbar-scrolled');
			} else {
			navbar.classList.remove('navbar-scrolled');
			}
		});
	</script>
</head>
