<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation" id="navbar">
  <div class="navbar-background" id="navbar-background">
    <div class="container">
      <div class="navbar-brand" id="navbar-first">
        <div class="navbar-start">
          <a class="navbar-item" href="{% if page.layout == 'default' %}{{ site.url }}{{ site.baseurl }}/#{% else %}{{ site.url }}{{ site.baseurl }}/{% endif %}" id="navbar-title">
            <strong>{{ site.title }}</strong>
          </a>
        </div>
        <div class="navbar-menu">
          <div class="navbar-end" id="navbar-option">
            <a class="navbar-item {% if page.url == '/' %}is-active{% endif %}" href="{% if page.layout == 'default' %}{{ site.url }}{{ site.baseurl }}/#{% else %}{{ site.url }}{{ site.baseurl }}/{% endif %}">HOME</a>
            <a class="navbar-item {% if page.url == '/cv' %}is-active{% endif %}" href="{{ site.url }}{{ site.baseurl }}/cv">CV</a>
            <a class="navbar-item {% if page.url == '/about' %}is-active{% endif %}" href="{{ site.url }}{{ site.baseurl }}/about">ABOUT</a>
          </div>
        </div>
        <div class="navbar-burger" data-target="navbar-menu">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
      

      <div class="navbar-start" id="navbar-second">
          <div class="navbar-categories">
            <!-- Add your category links here -->
            <a class="navbar-category navbar-item {% if page.title == '童年回忆' or page.category == '童年回忆' %}is-active{% endif %}" href="{{ site.url }}{{ site.baseurl }}/category/Childhood">童年回忆</a>
            <a class="navbar-category navbar-item {% if page.title == '铁山往事' or page.category == '铁山往事' %}is-active{% endif %}" href="{{ site.url }}{{ site.baseurl }}/category/TIP">铁山往事</a>
            <a class="navbar-category navbar-item {% if page.title == '贵系风云' or page.category == '贵系风云' %}is-active{% endif %}" href="{{ site.url }}{{ site.baseurl }}/category/THU-CST">贵系风云</a>
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link">Miscellaneous</a>
              <div class="navbar-dropdown">
                <a class="navbar-category navbar-item navbar-item-black {% if page.title == 'Manim' or page.category == 'Manim' %}is-active{% endif %}" href="{{ site.url }}{{ site.baseurl }}/category/Manim">Manim</a>
                <a class="navbar-category navbar-item navbar-item-black {% if page.title == 'Minecraft' or page.category == 'Minecraft' %}is-active{% endif %}" href="{{ site.url }}{{ site.baseurl }}/category/Minecraft">Minecraft</a>
                <a class="navbar-category navbar-item navbar-item-black {% if page.title == '随笔' or page.category == '随笔' %}is-active{% endif %}" href="{{ site.url }}{{ site.baseurl }}/category/Essay">随笔</a>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</nav>

<!-- Bulma Navbar JS -->
<script>
    // document.addEventListener('DOMContentLoaded', function () {
    //     /* Get all "navbar-burger" elements */
    //     var $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
    //     /* Check if there are any navbar burgers */
    //     if ($navbarBurgers.length > 0) {
    //         /* Add a click event on each of them */
    //         $navbarBurgers.forEach(function ($el) {
    //             $el.addEventListener('click', function () {
    //                 /* Get the target from the "data-target" attribute */
    //                 var target = $el.dataset.target;
    //                 var $target = document.getElementById(target);
    //                 /* Toggle the class on both the "navbar-burger" and the "navbar-menu" */
    //                 $el.classList.toggle('is-active');
    //                 $target.classList.toggle('is-active');
    //             });
    //         });
    //     }
    // });
</script>