---
layout: compress
---

<!DOCTYPE html>
<html>
	<head>
		{% include head.html %}
	</head>

	<body>
		{% include navbar.html %}

		<section class="hero is-fullheight has-text-centered" id="cv">
			<div class="hero-body">
				<div class="left-sticky-column is-align-self-flex-start"></div>
				<div class="main-column">
					<a
						href="{{page.url | relative_url}}"
						class="has-text-black"
						id="title"
					>
						<h1 class="title has-text-centered is-2 has-text-weight-semibold">
							{{page.title}}
						</h1>
					</a>
					<hr class="has-background-black" />
					<div class="columns is-variable is-5">
						<div class="column is-6">
							<figure class="image has-shadow">
								<img
									src="{{page.post-image}}"
									alt="{{post.title}}"
									id="post-image"
								/>
							</figure>
						</div>
						<div
							class="subtitle column is-5 has-text-left-desktop has-text-left-fullhd has-text-left-tablet has-text-center-mobile"
						>
							<div
								class="subtitle is-6 is-uppercase has-text-weight-normal has-text-black-ter"
							>
								<p class="subtitle is-uppercase">
									NAME<b class="has-text-link"> {{ page.signature }} </b>
								</p>
							</div>
							<div
								class="subtitle is-6 is-uppercase has-text-weight-normal has-text-black-ter"
							>
								<p class="subtitle is-uppercase">
									AGE <b class="has-text-link"> {{ page.age }} </b>
								</p>
							</div>
              <div
								class="subtitle is-6 is-uppercase has-text-weight-normal has-text-black-ter"
							>
								<p class="subtitle is-uppercase">
									GENDER <b class="has-text-link"> {{ page.gender }} </b>
								</p>
							</div>
              <div
								class="subtitle is-6 is-uppercase has-text-weight-normal has-text-black-ter"
							>
								<p class="subtitle is-uppercase">
									EMAIL <b class="has-text-link"> {{ page.email }} </b>
								</p>
							</div>
              <div
								class="subtitle is-6 is-uppercase has-text-weight-normal has-text-black-ter"
							>
								<p class="subtitle is-uppercase">
									GITHUB <b class="has-text-link"><a href="{{ page.github }}">{{ page.github }}</a>  </b>
								</p>
							</div>
						</div>
					</div>
					<div
						class="content has-text-justified-desktop has-text-justified-fullhd has-text-justified has-text-justified-tablet has-text-left-mobile"
					>
						<p>{{ content }}</p>
					</div>
				</div>
				<div class="right-sticky-column is-align-self-flex-start"></div>
			</div>
		</section>
		{% include footer.html %}
	</body>
</html>
