---
layout: compress
---

<!DOCTYPE html>
<html>
	<head>
		{% include head.html %}
		<link
			rel="stylesheet"
			type="text/css"
			href="https://cdn.jsdelivr.net/npm/pretty-schedule@1.0.5/pretty-schedule.css"
		/>
	</head>

	<body>
		{% include navbar.html %}

		<section class="hero is-fullheight" id="post">
			<div class="hero-body">
				<div class="left-sticky-column blog-sidebar is-align-self-flex-start">
					<div>
						<h2 class="sidebar-title">Posts</h2>
						<ul class="sidebar-list">
							{% for post in site.posts %} {% if post.category == page.category
							%}
							<li
								class="sidebar-item {% if post.title == page.title %}is-active{% endif %}"
							>
								<a href="{{ post.url }}">{{ post.title }}</a>
							</li>
							{% endif %} {% endfor %}
						</ul>
					</div>
				</div>
				<div class="main-column is-align-self-flex-start">
					<h1 class="title has-text-centered is-2 has-text-weight-semibold">
						{{page.title}}
					</h1>

					<div class="is-variable">
						<div
							class="subtitle has-text-left-desktop has-text-left-fullhd has-text-left-tablet has-text-center-mobile"
						>
							<p class="is-uppercase has-text-weight-normal has-text-black-ter">
								Published on <b>{{ page.date | date: "%-B %d, %Y" }}</b>
							</p>
							{% assign words = content | number_of_words %} {%- unless
							content.size == 0 -%}
							<p class="is-uppercase">
								<i class="fas fa-clock"></i>
								<b class="has-text-link"> {{ words | divided_by:180 }} min </b
								>READ
							</p>
							{%- endunless -%}
						</div>
					</div>
					<hr class="has-background-black" />
					{% unless page.description.size == 0 %}
					<blockquote
						id="description"
						class="content is-small has-text-weight-medium is-uppercase"
					>
						{{page.description | strip | strip_html | strip_newlines }}
					</blockquote>
					{% endunless %}
					<div
						class="content has-text-justified-desktop has-text-justified-fullhd has-text-justified has-text-justified-tablet has-text-left-mobile main"
						id="main-post-content"
					>
						<p>{{ content }}</p>
					</div>
					{% unless site.disqus-shortname == "" %}
					<div class="disqus-comments" id="disqus_thread"></div>
					{% endunless %}
				</div>
				<div class="right-sticky-column is-align-self-flex-start blog-sidebar">
					<div class="table-of-contents">
						<h2 class="toc-title">Table of Contents</h2>
						{% include toc.html html=content item_class='is-toc-level-%level%'
						submenu_class='is-toc-level-%level%' %}
					</div>
				</div>
			</div>
		</section>
		{% include footer.html %}
	</body>
	<script>
		/**
		 *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
		 *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
		/*
var disqus_config = function () {
this.page.url = PAGE_URL;  Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
		(function () {
			/* DON'T EDIT BELOW THIS LINE */
			var d = document,
				s = d.createElement("script");
			s.src = "https://{{site.disqus-shortname}}.disqus.com/embed.js";
			s.setAttribute("data-timestamp", +new Date());
			(d.head || d.body).appendChild(s);
		})();
	</script>

	<script src="https://cdn.jsdelivr.net/npm/pretty-schedule@1.0.5/pretty-schedule.js"></script>
	<!-- <script src="../assets/js/pretty-schedule.js"></script> -->
	<script>
		$(function () {
			var $canvas = null,
				$this = null,
				_ctx = null,
				_text = "";
			$(".language-subject-radar").each(function () {
				$this = $(this);
				_text = $this.text();
				var data = JSON.parse(_text);
				$canvas = $(
					`<div id=${data["id"]} class="chart-${data["type"]}"></div>`
				);
				$this.text("").append($canvas);
				var chart = Highcharts.chart(data["id"], {
					chart: {
						polar: true,
					},
					title: {
						text: data["title"],
					},
					pane: {
						startAngle: 0,
						endAngle: 360,
					},
					xAxis: {
						tickInterval: 72,
						min: 0,
						max: 360,
						labels: {
							formatter: function () {
								return [
									"Experience",
									"Simplicity",
									"GPA-Friendly",
									"Time Saving",
									"Usefulness",
								][this.value / 72];
							},
						},
					},
					yAxis: {
						min: 0,
						max: 5,
						labels: {
							enabled: false,
						},
						tickPositions: [0, 1, 2, 3, 4, 5],
					},
					plotOptions: {
						series: {
							pointStart: 0,
							pointInterval: 72,
						},
						column: {
							pointPadding: 0,
							groupPadding: 0,
						},
					},
					series: [
						{
							type: "area",
							name: "Area",
							data: data["marks"],
							visible: true,
							showInLegend: false,
						},
					],
					tooltip: {
						formatter: function () {
							return (
								[
									"Experience",
									"Simplicity",
									"GPA-Friendly",
									"Time Saving",
									"Usefulness",
								][this.x / 72] +
								": " +
								this.y
							);
						},
					},
				});
				chart.animation = true;
				$this.parent().addClass(data["class"]);
			});
		});
		$(function () {
			var $canvas = null,
				$this = null,
				_ctx = null,
				_text = "";
			$(".language-pretty-schedule").each(function () {
				$this = $(this);
				_text = $this.text();
				var data = JSON.parse(_text);
				$canvas = $(`<div id=${data["id"]} class="pretty-schedule"></div>`);
				$canvas.prettySchedule(data["options"]);
				$this.text("").append($canvas);
				$this.parent().addClass(data["class"]);
			});
		});
		$(function () {
			var $canvas = null,
				$this = null,
				_ctx = null,
				_text = "";
			$(".language-line-chart").each(function () {
				$this = $(this);
				_text = $this.text();
				var data = JSON.parse(_text);
				if (data["xAxis"]["type"] == "datetime") {
					for (var i = 0; i < data["series"].length; i++) {
						for (var j = 0; j < data["series"][i]["data"].length; j++) {
							data["series"][i]["data"][j][0] = new Date(
								data["series"][i]["data"][j][0]
							).getTime();
						}
					}
				}
				$canvas = $(
					`<div id=${data["id"]} class="chart-${data["type"]}"></div>`
				);
				$this.text("").append($canvas);
				var chart = Highcharts.chart(data["id"], {
					title: {
						text: data["title"],
						align: "left",
					},
					subtitle: {
						text: data["subtitle"],
						align: "left",
					},
					yAxis: data["yAxis"],
					xAxis: data["xAxis"],
					legend: {
						layout: "vertical",
						align: "right",
						verticalAlign: "middle",
					},
					series: data["series"],
					responsive: {
						rules: [
							{
								condition: {
									maxWidth: 500,
								},
								chartOptions: {
									legend: {
										layout: "horizontal",
										align: "center",
										verticalAlign: "bottom",
									},
								},
							},
						],
					},
				});
				chart.animation = true;
				$this.parent().addClass(data["class"]);
			});
		});
	</script>
	<script>
		window.addEventListener("DOMContentLoaded", function () {
			var headings = document.querySelectorAll(
				"#main-post-content h2, #main-post-content h3, #main-post-content h4, #main-post-content h5, #main-post-content h6"
			);

			window.addEventListener("scroll", function () {
				var currentHeading = null;

				for (var i = 0; i < headings.length; i++) {
					var heading = headings[i];
					var headingRect = heading.getBoundingClientRect();

					if (headingRect.top <= 50) {
						currentHeading = heading;
					} else {
						if (headingRect.top <= 200) {
							currentHeading = heading;
						}
						break;
					}
				}
				if (!currentHeading) {
					currentHeading = headings[0];
				}

				var tocLinks = document.querySelectorAll(".table-of-contents a");
				for (var j = 0; j < tocLinks.length; j++) {
					var tocLink = tocLinks[j];
					var href = tocLink.getAttribute("href");

					tocLink.classList.remove("is-active");

					if (
						href &&
						decodeURIComponent(href.substring(1)) ===
							currentHeading.textContent
								.toLowerCase()
								.replace(/[（）、，；,+//^]/g, "")
								.replace(/[ ]/g, "-")
					) {
						tocLink.classList.add("is-active");
					}
				}
			});
		});
	</script>
</html>
